<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UDID</key>
	<string>508B2898-DDD5-4FA2-A7F6-28E2D69A3A0B</string>
	<key>deviceType</key>
	<string>com.apple.CoreSimulator.SimDeviceType.Apple-Watch-Series-7-45mm</string>
	<key>isDeleted</key>
	<false/>
	<key>isEphemeral</key>
	<false/>
	<key>name</key>
	<string>Apple Watch Series 7 (45mm)</string>
	<key>runtime</key>
	<string>com.apple.CoreSimulator.SimRuntime.watchOS-9-1</string>
	<key>runtimePolicy</key>
	<string>System</string>
	<key>state</key>
	<integer>1</integer>
</dict>
</plist>
