<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AKLastIDMSEnvironment</key>
	<integer>0</integer>
	<key>AKLastLocale</key>
	<string>ja_JP</string>
	<key>AppleAntiAliasingThreshold</key>
	<integer>4</integer>
	<key>AppleIconAppearanceTheme</key>
	<string>RegularLight</string>
	<key>AppleInterfaceStyle</key>
	<string>Dark</string>
	<key>AppleKeyboardUIMode</key>
	<integer>0</integer>
	<key>AppleLanguages</key>
	<array>
		<string>ja-JP</string>
	</array>
	<key>AppleLanguagesDidMigrate</key>
	<string>13.4.1</string>
	<key>AppleLanguagesSchemaVersion</key>
	<integer>5400</integer>
	<key>AppleLocale</key>
	<string>ja_JP</string>
	<key>AppleMenuBarVisibleInFullscreen</key>
	<false/>
	<key>AppleMiniaturizeOnDoubleClick</key>
	<false/>
	<key>ApplePerAppLanguageSelectionBundleIdentifiers</key>
	<array>
		<string>com.openai.chat</string>
		<string>com.isaacmarovitz.Whisky</string>
		<string>com.apple.ScriptEditor2</string>
	</array>
	<key>AppleShowAllExtensions</key>
	<true/>
	<key>AppleShowScrollBars</key>
	<string>Automatic</string>
	<key>InitialKeyRepeat</key>
	<real>15</real>
	<key>KB_DoubleQuoteOption</key>
	<string>"abc"</string>
	<key>KB_SingleQuoteOption</key>
	<string>'abc'</string>
	<key>KB_SpellingLanguage</key>
	<dict>
		<key>KB_SpellingLanguageIsAutomatic</key>
		<true/>
	</dict>
	<key>KeyRepeat</key>
	<real>2</real>
	<key>NSAutomaticCapitalizationEnabled</key>
	<false/>
	<key>NSAutomaticPeriodSubstitutionEnabled</key>
	<false/>
	<key>NSLinguisticDataAssetsRequestLastInterval</key>
	<real>86400</real>
	<key>NSLinguisticDataAssetsRequestTime</key>
	<date>2025-12-17T17:24:48Z</date>
	<key>NSLinguisticDataAssetsRequested</key>
	<array>
		<string>ja</string>
		<string>en</string>
		<string>pl</string>
		<string>da</string>
		<string>de</string>
		<string>ro</string>
		<string>fr</string>
		<string>vi</string>
		<string>it</string>
		<string>ja_JP</string>
		<string>en_JP</string>
		<string>en_US</string>
		<string>nl</string>
		<string>mul</string>
		<string>mul_Hani</string>
		<string>mul_Latn</string>
		<string>fi</string>
		<string>ko</string>
		<string>es</string>
	</array>
	<key>NSLinguisticDataAssetsRequestedByChecker</key>
	<array>
		<string>en</string>
		<string>pl</string>
		<string>da</string>
		<string>de</string>
		<string>ro</string>
		<string>fr</string>
		<string>vi</string>
		<string>it</string>
		<string>nl</string>
		<string>fi</string>
		<string>ko</string>
		<string>es</string>
	</array>
	<key>NSPreferredWebServices</key>
	<dict>
		<key>NSWebServicesProviderWebSearch</key>
		<dict>
			<key>NSDefaultDisplayName</key>
			<string>Google</string>
			<key>NSProviderIdentifier</key>
			<string>com.google.www</string>
		</dict>
	</dict>
	<key>NSSpellCheckerContainerTransitionComplete</key>
	<true/>
	<key>NSSpellCheckerDictionaryContainerTransitionComplete</key>
	<true/>
	<key>NSSpellCheckerInputAnalyticsTime</key>
	<date>2024-09-16T10:29:09Z</date>
	<key>NSUserDictionaryReplacementItems</key>
	<array>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>omw</string>
			<key>with</key>
			<string>On my way!</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>t2</string>
			<key>with</key>
			<string>t20830ky@sfc.keio.ac.jp</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>sfc</string>
			<key>with</key>
			<string>sfc</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>ky</string>
			<key>with</key>
			<string>kyoryu32@gmail.com</string>
		</dict>
	</array>
	<key>NSUserQuotesArray</key>
	<array>
		<string>"</string>
		<string>"</string>
		<string>'</string>
		<string>'</string>
	</array>
	<key>_AKBAACertMarkerKey</key>
	<data>
	ehj/SbDcrmGICLJr1aNO7eFboRiXqwKV8/vpgi7T4UA=
	</data>
	<key>_HIHideMenuBar</key>
	<false/>
	<key>com.apple.finder.SyncExtensions</key>
	<dict>
		<key>collaborationMap</key>
		<dict>
			<key>com.adobe.accmac.ACCFinderSync</key>
			<true/>
		</dict>
		<key>dirMap</key>
		<dict>
			<key>com.adobe.accmac.ACCFinderSync</key>
			<array/>
		</dict>
	</dict>
	<key>com.apple.gms.availability.accessNotGrantedUseCases</key>
	<data>
	YnBsaXN0MDCgCAAAAAAAAAEBAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAJ
	</data>
	<key>com.apple.gms.availability.disabledUseCases</key>
	<data>
	YnBsaXN0MDChAV8QI2NvZGVMTS5kZW55VGhpc1VzZUNhc2VPbkp1bmU2b2YyMDI0CAoA
	AAAAAAABAQAAAAAAAAACAAAAAAAAAAAAAAAAAAAAMA==
	</data>
	<key>com.apple.gms.availability.disallowedUseCases</key>
	<data>
	YnBsaXN0MDCgCAAAAAAAAAEBAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAJ
	</data>
	<key>com.apple.gms.availability.essentialAssetReadiness</key>
	<data>
	ZmFsc2U=
	</data>
	<key>com.apple.gms.availability.key</key>
	<data>
	YnBsaXN0MDChARACCAoAAAAAAAABAQAAAAAAAAACAAAAAAAAAAAAAAAAAAAADA==
	</data>
	<key>com.apple.gms.availability.osEligibilityReasons</key>
	<array>
		<integer>1</integer>
	</array>
	<key>com.apple.gms.availability.useCasesWhoseAssetsAreOutOfStorage</key>
	<data>
	YnBsaXN0MDCgCAAAAAAAAAEBAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAJ
	</data>
	<key>com.apple.gms.availability.useCasesWhoseAssetsNotReady</key>
	<data>
	YnBsaXN0MDCvECgBAgMEBQYHCAkKCwwNDg8QERITFBUWFxgZGhscHR4fICEiIyQlJico
	XxAhbWVtb3J5Q3JlYXRpb24uQXV0b25hbWluZ01lc3NhZ2VzXxAgdGV4dENvbXBvc2l0
	aW9uLlByb2Zlc3Npb25hbFRvbmVfEChzdW1tYXJpemF0aW9uLnN1bW1hcml6ZVRleHRN
	ZXNzYWdlVGhyZWFkXxAabWVtb3J5Q3JlYXRpb24uU3Rvcnl0ZWxsZXJfECdzdW1tYXJp
	emF0aW9uLnN1bW1hcml6ZVVzZXJOb3RpZmljYXRpb25fEBdjb20uYXBwbGUuU2lyaS5O
	TFJvdXRlcl8QKHN1bW1hcml6YXRpb24uc3VtbWFyaXplTWFpbE1lc3NhZ2VUaHJlYWRf
	ECVWaXN1YWxHZW5lcmF0aW9uLkdlbmVyYXRpdmVQbGF5Z3JvdW5kXxAic3VtbWFyaXph
	dGlvbi5ub3Rlc0F1ZGlvVHJhbnNjcmlwdF8QG3N1bW1hcml6YXRpb24udGV4dEFzc2lz
	dGFudF8QInN1bW1hcml6YXRpb24uc3VtbWFyaXplVGV4dE1lc3NhZ2VfEChjbGFzc2lm
	aWNhdGlvbi5jbGFzc2lmeVRleHRNZXNzYWdlVGhyZWFkXxAnVmlzdWFsR2VuZXJhdGlv
	bi5LZXlib2FyZEVtb2ppR2VuZXJhdG9yXxAodGV4dENvbXBvc2l0aW9uLk1haWxSZXBs
	eUxvbmdGb3JtUmV3cml0ZV8QGnN1bW1hcml6YXRpb24uc2FmYXJpUmVhZGVyXxAbdGV4
	dENvbXBvc2l0aW9uLk1haWxSZXBseVFBXxAZdGV4dENvbXBvc2l0aW9uLk1haWxSZXBs
	eV8QHHRleHRDb21wb3NpdGlvbi5NYWdpY1Jld3JpdGVfEB90ZXh0Q29tcG9zaXRpb24u
	T3BlbkVuZGVkU2NoZW1hXxAddGV4dENvbXBvc2l0aW9uLk9wZW5FbmRlZFRvbmVfEB10
	ZXh0Q29tcG9zaXRpb24uTWVzc2FnZXNSZXBseV8QImNsYXNzaWZpY2F0aW9uLmNsYXNz
	aWZ5VGV4dE1lc3NhZ2VfEBxtZW1vcnlDcmVhdGlvbi5Bc3NldEN1cmF0aW9uXxAtc3Vt
	bWFyaXphdGlvbi5zdW1tYXJpemVVc2VyTm90aWZpY2F0aW9uVGhyZWFkXxAnY2xhc3Np
	ZmljYXRpb24uY2xhc3NpZnlVc2VyTm90aWZpY2F0aW9uXxAuY29tLmFwcGxlLlNldHRp
	bmdzLkFwcGxlSW50ZWxsaWdlbmNlLkRpZmZ1c2lvbl8QHHRleHRDb21wb3NpdGlvbi5G
	cmllbmRseVRvbmVfECJ0ZXh0Q29tcG9zaXRpb24uVGFrZWF3YXlzVHJhbnNmb3JtXxAi
	Y29tLmFwcGxlLlBhcGVyS2l0LkltYWdlR2VuZXJhdGlvbl8QJnRleHRDb21wb3NpdGlv
	bi5NYWlsUmVwbHlMb25nRm9ybUJhc2ljXxAic3VtbWFyaXphdGlvbi5zdW1tYXJpemVN
	YWlsTWVzc2FnZV8QG21lbW9yeUNyZWF0aW9uLkdsb2JhbFRyYWl0c18QG3RleHRDb21w
	b3NpdGlvbi5Db25jaXNlVG9uZV8QImNsYXNzaWZpY2F0aW9uLmNsYXNzaWZ5TWFpbE1l
	c3NhZ2VfEBZjb20uYXBwbGUuV3JpdGluZ1Rvb2xzXxAidGV4dENvbXBvc2l0aW9uLlBy
	b29mcmVhZGluZ1Jldmlld18QJGNvbS5hcHBsZS5TZXR0aW5ncy5BcHBsZUludGVsbGln
	ZW5jZV8QIHRleHRDb21wb3NpdGlvbi5CdWxsZXRzVHJhbnNmb3JtXxAhbWVtb3J5Q3Jl
	YXRpb24uUXVlcnlVbmRlcnN0YW5kaW5nXxAfdGV4dENvbXBvc2l0aW9uLlRhYmxlc1Ry
	YW5zZm9ybQAIADMAVwB6AKUAwgDsAQYBMQFZAX4BnAHBAewCFgJBAl4CfAKYArcC2QL5
	AxkDPgNdA40DtwPoBAcELARRBHoEnwS9BNsFAAUZBT4FZQWIBawAAAAAAAACAQAAAAAA
	AAApAAAAAAAAAAAAAAAAAAAFzg==
	</data>
	<key>com.apple.mouse.scaling</key>
	<real>2</real>
	<key>com.apple.scrollwheel.scaling</key>
	<real>0.75</real>
	<key>com.apple.sound.beep.flash</key>
	<integer>0</integer>
	<key>com.apple.sound.uiaudio.enabled</key>
	<integer>0</integer>
	<key>com.apple.springing.delay</key>
	<real>0.5</real>
	<key>com.apple.springing.enabled</key>
	<true/>
	<key>com.apple.swipescrolldirection</key>
	<true/>
	<key>com.apple.trackpad.forceClick</key>
	<false/>
	<key>shouldShowRSVPDataDetectors</key>
	<false/>
	<key>userMenuExtraStyle</key>
	<integer>0</integer>
</dict>
</plist>
