<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>emptytrashKeywordEnabled</key>
	<false/>
	<key>hideKeywordEnabled</key>
	<false/>
	<key>showtrashKeywordEnabled</key>
	<false/>
</dict>
</plist>
